<div class="widget-details">
	<div class="widget-name">{{ widgetName }}</div>
	<div class="widget-description">{{ description }}</div>
</div>
<div class="widget-button">
	<svg class="widget-run" height="50" width="50">
		<polygon points="15,10 15,40 35,25" />
	</svg>
</div>