<div class="widget-details col-xs-10">
	<div class="widget-name list-group-item-heading"><strong>{{ widgetName }}</strong></div>
	<div class="widget-description list-group-item-text">{{ description }}</div>
</div>
<div class="widget-button col-xs-2">
	<span class="glyphicon glyphicon-play-circle" aria-hidden="false"></span>
</div>
<div class="clearfix"></div>
