<div class="resume demo">
	<div class="basic-info col1">
		<div class="photo">
			<img src="{{ profileImage }}" alt="Profile Picture" />
		</div>
		<div class="info">
			<div class="name">{{ name }}</div>
			<div class="work">{{ work }}</div>
		</div> {{!-- end of info --}}
	</div> {{!-- end of basic-info --}}
	<div class="separator">
		
	</div>
	<div class="profile-summary col2">
		<div class="profile-summary-wrapper">
			{{ summary }}
		</div>
	</div> {{!-- end of profile-summary --}}
</div>